<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Oembed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <div class="input-group mb-3">
                <input type="text" id="input_url" class="form-control" placeholder="링크를 입력해주십시오.">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="search()">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
<script type="text/javascript">
    function search() {
        var url=$("#input_url").val();
        var data = {
            "url" : url
        };
        $.ajax({
            url: "/api/oembed",
            data: data,
            type: "GET"
        }).done(function (result) {
            console.log(result);
        });
    }
</script>
</html>